{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "arrayBracketSpacing": true,
  "proseWrap": "always",
  "maxEmptyLines":1
}
