/* .paginationContainer {
    display: none;
    align-items: center; 
    justify-content: center;
    list-style: none; 
    padding: 0; 
  }
  
  .paginationContainer .dot {
    cursor: pointer; 
    height: 3px; 
    width: 3px; 
    margin: 0 5px; 
    background-color: #000000; 
    border-radius: 20%; 
    display: inline-block; 
    transition: background-color 0.3s, transform 0.3s; 
  }
  
  .paginationContainer .dot.active {
    background-color: #F59723; 
    transform: scale(1.5); 
  }
  
  @media (max-width: 768px) {
    .paginationContainer {
      display: flex; 
      justify-content: center;
      margin-top: 10px; 
      height: 20px;
    }
  }
   */