.bottomRightIcon {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 5px; /* Adjust as per your preference */
  right: 5px; /* Adjust as per your preference */
  z-index: 1000; /* This ensures the icon stays above most other elements */
}

@media screen and (max-width: 768px) {
  .bottomRightIcon {
    width: 75px;
    height: 75px;
  }
}
