:root{
  --primary-bg: #fff;
  --toggle-dark-bg: #000;
  --tansparent-bg: #ffffff36;

  --font-color-orange: #f59723;
  --font-color-light-gray: #717171;
  --primary-font-color: #000;
  --header-font-color: #FFF;
  --header-font-color-scrolled-enough: #000;

  --primary-border: #d8d8d8;
  --secondary-border: #d2d2d2;
}

[data-theme='dark'] {
  --primary-bg: #000;
  --toggle-dark-bg: #FFF;
  --tansparent-bg: #00000036;

  --font-color-orange: #f59723;
  --primary-font-color: #FFF;
  --header-font-color: #000;
  --header-font-color-scrolled-enough: #FFF;

  --primary-border: #d8d8d8;
  --secondary-border: #d2d2d2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.gradient-text {
  background-image: linear-gradient(108deg, #e5de31 2%, #ffaf00 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Google translator layout*/
.skiptranslate{
  display: none !important;
}