:root {
  --primary-bg: #fff;
  --toggle-dark-bg: #000;
  --tansparent-bg: #00000045;
  --grey-bullet: #cbcbcb;

  --font-color-orange: #f59723;
  --font-color-light-gray: #717171;
  --primary-font-color: #000;
  --header-font-color: #000;
  --header-font-color-scrolled-enough: #000;
  --faded-black: rgba(0, 0, 0, 0.7);

  --primary-border: #d8d8d85c;
  --secondary-border: #d2d2d2;
  --border-footer-gray: #d8d8d8;

  --cicc-border: #e22826;
  --capic-border: #123474;

  --grey: #f9f9f9;
  --golden-yellow: #f59723;
  --primary-text: #000;
  --primary-white: #fff;
  --deep-yellow: #ffaf00;
  --secondary-grey: #f3f3f3;
  --primary-black: #000;
  --pale-yellow: #fff6e7;
  --pale-yellow-black: #fff6e7;
  --light-brown: #717171;
  --sandal: rgba(234, 213, 169, 1);
  --pale-sandal: #fddba2;
  --hover-lang-dropdown: #efefef;
  --font-grey: #b2b2b2;
  --white-fixed: #fff;
  --almond: #efcea6;
  --golden-honey: #f0c236;
  --smoky-steel: #979797;
  --light-gray: #717171;
  --platinum:  #e5e5e5;

  --language-dropdown-shadow: 0 2px 60px 0 rgba(0, 0, 0, 0.5);
  --preloader-overlay: hsl(252deg 9% 6% / 18%), hsl(252deg 3% 16% / 19%), hsl(0deg 2% 5% / 15%);
  --hubspot-form-shadow: 0 22px 60px 0 rgba(0, 0, 0, 0.1);

  --talk-to-our-experts-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2);
  --background-color-mapAddress: #fff;
  --background-color-mapAddress-dark: #333;
}

[data-theme='dark'] {
  --primary-bg: #000;
  --toggle-dark-bg: #fff;
  --tansparent-bg: #ffffff3b;
  --primary-text: #fff;
  --primary-white: #000;
  --grey-bullet: #cbcbcb;
  --secondary-grey: #000;

  --font-color-orange: #f59723;
  --font-color-light-gray: #ffffff;
  --primary-font-color: #fff;
  --header-font-color: #fff;
  --header-font-color-scrolled-enough: #fff;
  --faded-black: #fff;

  --primary-border: #d8d8d85c;
  --secondary-border: #d2d2d25c;

  --pale-yellow-black: #000;
  --light-brown: #fff;
  --sandal: rgba(234, 213, 169, 0.32);
  --pale-sandal: #fddba2;
  --hover-lang-dropdown: #282828;

  --language-dropdown-shadow: 0 2px 60px 0 rgba(255, 255, 255, 0.5);
  --preloader-overlay: rgb(228 228 228), hsl(0deg 0% 89% / 43%), rgb(228 228 228);
  --background-color-mapAddress: var(--background-color-mapAddress-dark);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.open-work-permit,
.banner-text span {
  background-image: linear-gradient(204deg, #ffda00 73%, #ffca6c -12%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html,
body {
  font-size: 16px;
  scrollbar-width: thin;
  scrollbar-color: var(--pale-sandal) transparent;
}

body {
  margin: 0;
  top: 0 !important;
  padding: 0;
  color: var(--primary-text);
  font-family: var(--font-jakarta);
  background-color: var(--primary-bg);
  overflow-wrap: break-word;
}

.gradient-text span {
  background-image: linear-gradient(108deg, #e5de31 2%, #ffaf00 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1024px) {
  .open-work-permit {
    background-image: linear-gradient(238deg, #ffda00 36%, #ffca6c 1%);
  }
}

/* credibility border */

.capic-logo {
  border-top-color: #123474;
}

.cicc-logo {
  border-top-color: #e22826;
}

/*Google translator layout*/
.skiptranslate {
  display: none !important;
}

/*Services tabs design*/
.service svg {
  fill: var(--deep-yellow);
}

.service:hover svg {
  fill: #fff;
}

/* services listing */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pop-up-list-item span {
  font-weight: 500 !important;
}

/* background grid container css*/
@media screen and (min-width: 1280px) {
  .credibilityGrid,
  .honestyGrid {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .credibilityGrid {
    background-image: url('/images/homePage/credibilityBgGrid.png');
  }
  .honestyGrid {
    background-image: url('/images/homePage/honestyBgGrid.svg');
  }
  .partnersGrid {
    background-image: url(/images/homePage/partnersBgGrid.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.divider {
  background-image: linear-gradient(to left, rgba(255, 243, 224, 0), #fddaa1 91%, #fddaa1 11%, rgba(254, 244, 228, 0));
}

.movable-wrapper {
  position: absolute;
  width: 59.2px;
  height: 59.2px;
  opacity: 0.22;
  top: 12px;
  left: 16px;
  -webkit-filter: blur(16px);
  filter: blur(16px);
  background-color: #000000a8;
  margin: 11.8px 0 0 11.8px;
  padding: 5.6px 27.2px 28px 4px;
}

[data-theme='dark'] .movable-wrapper {
  opacity: 0.42;
  -webkit-filter: blur(16px);
  filter: blur(16px);
  background-color: #ffbb4e;
}

.processes,
.processes-mobile-view {
  --selector-bg: var(--pale-yellow);
}
[data-theme='dark'] .processes,
[data-theme='dark'] .processes-mobile-view {
  --selector-bg: rgba(256, 256, 256, 0.1);
}

[data-theme='dark'] .processes > svg {
  opacity: 0.28;
}

.processes-mobile-view > div:last-child {
  display: none;
}

.processes svg.divider:last-child {
  display: none;
}

.popup {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 11px 15px -7px,
    rgba(0, 0, 0, 0.14) 0px 24px 38px 3px,
    rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  background: #fff;
}

.challenges-accordion,
.faq-accordion {
  @apply md:!p-[0px];
}

.challenges-accordion .header-btn,
.faq-accordion .header-btn {
  padding-bottom: 0px !important;
}

.challenges-accordion > div,
.faq-accordion > div {
  background: transparent !important;
  color: var(--primary-text);
  padding: 0px !important ;
}

.challenges-accordion .header-btn > div > div,
.faq-accordion .header-btn > div > div {
  text-align: left;
}

.challenges-listing {
  background: var(--pale-yellow);
}

[data-theme='dark'] .challenges-listing {
  background: #121212;
}
.challenges-accordion:last-child {
  border-bottom-width: 0;
}

.challenges-accordion.service-faq:last-child {
  border-bottom-width: 1px;
}

/*Blogs listing styling*/

.blogs-listing {
  background: var(--secondary-grey);
}

[data-theme='dark'] .blogs-listing {
  background: #000;
}

/*Training cards styling*/

.training-cards {
  background: var(--primary-bg);
  border-top: 65px solid #000;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.12) 0px 2px 16px 0px;
  transform: translateY(0px) scale(1);
  transition: transform 0.3s ease;
}

.card-text {
  color: #000;
}

[data-theme='dark'] .card-text {
  color: #fff;
}
.training-title {
  color: #fff;
}
[data-theme='dark'] .training-title {
  color: #000000;
}
.training-toggle {
  position: absolute;
  align-items: center;
  z-index: 10;
  left: 0;
  top: -45px;
}
[data-theme='dark'] .training-toggle {
  top: -45px;
}

[data-theme='dark'] .training-cards {
  background: #000;
  box-shadow: rgb(192 192 192 / 45%) 0px 2px 4px 0px, rgb(192 192 192 / 45%) 0px 2px 16px 0px;
  transition: all 0.3s ease;
  border-top: 65px solid rgb(149 149 149);
}

/* About CEO Image Background */

.ceo-image-bg {
  background-image: url('/images/aboutUs/ceo-background-img.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

/* Team Slider Styling */

.team-slider-section {
  background-color: var(--pale-yellow);
}

[data-theme='dark'] .team-slider-section {
  background: #000;
}

/* Hover effect for profile card (Who we are section- About-us) */

.card-hover-effect::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 20px;
  right: 20px;
  height: 20px;
  background-color: #000;
  opacity: 0;
  filter: blur(30px);
  transition: opacity .5s ease-in-out;
}

.card-hover-effect:hover::after {
  opacity: 0.2;
}

/*Tabs styling*/

.tab-header ::after {
  background: #979797;
}

[data-theme='dark'] .tab-header ::after {
  background: #d8d8d8;
}

.tab-selectedBg {
  background: #000;
}

[data-theme='dark'] .tab-selectedBg {
  background: #fff6e7;
}

/* honesty section styling */

.honestyBackground {
  background-image: linear-gradient(
    to right,
    rgba(238, 238, 238, 0),
    rgba(233, 233, 233, 0.57) 15%,
    #e5e5e5 51%,
    rgba(219, 219, 219, 0.21) 85%,
    rgba(216, 216, 216, 0)
  );
}
/*Bar Btn styling*/

.bar-btn button:hover + svg {
  top: -17px;
  right: -17px;
}

/* process section css */

.autoh-image img {
  height: auto !important;
  position: relative !important;
}

.challenges_toggle {
  --icon-bg: #ffe5c5;
  --icon-path: #000;
}

[data-theme='dark'] .challenges_toggle {
  --icon-bg: #424242;
  --icon-path: #ffe5c5;
}

/* CSS for hubspot forms */

#hubspotForm .hs-form-private {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

#hubspotForm .form-columns-2 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  border: 0;
  max-width: none;
}

#hubspotForm .hs-form-field {
  width: auto;
  float: none;
}

#hubspotForm .input {
  margin: 0;
}

#hubspotForm .hs-input {
  width: 100%;
  padding: 15px 16px;
  background-color: #fff;
}

#hubspotForm .hs-input::placeholder {
  opacity: 0.52;
  font-size: 14px;
  color: #0c0c0c;
}

#hubspotForm .hs-error-msg {
  font-size: 15px;
  color: #ff0000;
}

#hubspotForm .actions .hs-button {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: #000;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-image: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M1.187 10 0 8.813l7.109-7.109H.786V0H10v9.214H8.296V2.891z" fill="%23FFAF00" fill-rule="nonzero"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(50% + 38px);
  background-size: 8px;
}

#hubspotForm .hs_error_rollup {
  display: none;
}

#hubspotForm .submitted-message {
  font-size: 14px;
  font-weight: 700;
}

/* media queries */
@media screen and (min-width: 768px) {
  .honestyBackground {
    background-image: radial-gradient(
      circle at 50% 53%,
      #e5e5e5,
      rgba(219, 219, 219, 0.21) 79%,
      rgba(216, 216, 216, 0) 93%
    );
  }

  #hubspotForm .submitted-message {
    font-size: 18px;
  }
}

[data-theme='dark'] .slider-nav {
  background-color: rgba(256, 256, 256, 0.14);
}

@media screen and (min-width: 768px) {
  .honestyBackground {
    background-image: radial-gradient(
      circle at 50% 53%,
      #e5e5e5,
      rgba(219, 219, 219, 0.21) 79%,
      rgba(216, 216, 216, 0) 93%
    );
  }

  .accordionHeaderChallenges:nth-child(1) {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .honestyCard:nth-child(odd) {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .honestyCard {
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .honestyCard:nth-child(1),
  .honestyCard:nth-child(4n) {
    padding-left: 0;
  }

  .honestyBackground {
    background-image: radial-gradient(ellipse at center,
        #e5e5e5,
        rgba(219, 219, 219, 0.21) 60%,
        rgba(255, 255, 255, 1) 69%);
  }

  #hubspotForm .actions .hs-button {
    padding-right: 18px;
    background-position: calc(50% + 30px);
  }
}

@media screen and (min-width: 1440px) {
  /*media CSS for hubspot forms */

  #hubspotForm .hs-form-private,
  #hubspotForm .form-columns-2 {
    flex-direction: row;
    gap: 20px;
  }

  #hubspotForm .hs-input {
    width: 260px;
    height: 60px;
  }

  #hubspotForm .actions .hs-button {
    display: flex;
    justify-content: center;
    min-width: 120px;
    min-height: 60px;
    /* padding-right: 26px; */
  }
}

.skeleton {
  background: linear-gradient(90deg, var(--preloader-overlay));
  background-size: 200%;
  animation: loader 1s infinite reverse;
}

@keyframes loader {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}

.open-mobile-accordion .accordion-header {
  background: var(--toggle-dark-bg);
}

.accordion-spacer {
  background: #b17900;
}

[data-theme='dark'] .accordion-spacer {
  background: #fff;
}

.hs_error_rollup {
  display: none;
}

/* CSS for Services Hubspot form */
.huform .actions {
  float: right;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 48px;
}

.huform .actions input {
  min-width: 100px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  background-color: black;
  padding: 14px 16px;
  color: white;
}

.huform .hs-form-field {
  margin-bottom: 15px;
}

.huform .hs-richtext.hs-main-font-element {
  margin-bottom: 10px;
}

.huform .hs-form-field label, .huform .hs-richtext.hs-main-font-element {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  color: #000;
}

.huform .hs-form-required {
  color: #ff0000;
}

.huform .hs-form-field .hs-field-desc {
  font-size: 16px;
  color: #3d3d3d;
  margin-bottom: 5px;
}

.huform .form-columns-2 > * + * {
  margin-left: 0;
}

.huform .form-columns-3 > * + * {
  margin-left: 0;
}

.huform .hs-form-field input[type='date'],
.huform .hs-form-field input[type='datetime-local'],
.huform .hs-form-field input[type='email'],
.huform .hs-form-field input[type='file'],
.huform .hs-form-field input[type='number'],
.huform .hs-form-field input[type='tel'],
.huform .hs-form-field input[type='text'],
.huform .hs-form-field input[type='time'],
.huform .hs-form-field input[type='url'],
.huform .hs-form-field input[type='week'],
.huform .hs-form-field select,
.huform .hs-form-field textarea {
  width: 100% !important;
  padding: 12px;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ccccd3;
  background-color: #fff;
}

.huform fieldset {
  max-width: none !important;
}

.huform .input {
  margin-right: auto !important;
}

@media screen and (min-width: 481px) {
  /*media CSS for hubspot forms (two fields in single row) */
  .huform .form-columns-3 > * {
    width: 32% !important;
  }

  .huform .form-columns-2 > * {
    width: 49% !important;
  }

  .huform .hs-form-field {
    margin-bottom: 26px;
  }

  .huform .form-columns-2 > * + * {
    margin-left: 2%;
  }

  .huform .form-columns-3 > * + * {
    margin-left: 2%;
  }
}

.huform .hs-form-field textarea {
  height: 120px;
}

.huform .hs-error-msg {
  font-size: 15px !important;
  color: #ff0000 !important;
}

.huform .hs-form-field select {
  appearance: none;
  background-image: url('data:image/svg+xml,<svg width="10.043" height="5.979" viewBox="0 0 10.043 5.979" xmlns="http://www.w3.org/2000/svg"><path d="m9.146 0 .897.897L4.96 5.979 0 1.018.92.099l4.063 4.063L9.146 0z" fill="%23000000" fill-rule="nonzero" /></svg>');
  background-repeat: no-repeat;
  padding-right: 35px;
  background-position-x: calc(100% - 20px);
  background-position-y: 50%;
}

.huform .hs-form-checkbox-display,
.huform .hs-form-booleancheckbox-display,
.huform .hs-form-radio-display {
  display: inline-flex;
  align-items: baseline;
}

.huform .hs-form-booleancheckbox,
.huform .hs-form-checkbox,
.huform .hs-form-radio-display {
  position: relative;
}

.huform .hs-form-booleancheckbox .hs-input,
.huform .hs-form-checkbox .hs-input {
  margin-right: 3px;
  margin-left: 3px;
}

.huform .hs-fieldtype-intl-phone {
  display: flex;
  width: 100% !important;
  display: flex;
  gap: 3px;
}

.huform .hs-form-booleancheckbox span,
.huform .hs-form-checkbox span,
.huform .hs-form-radio-display span {
  padding-left: 15px;
  cursor: pointer;
}

.huform .hs-form-booleancheckbox span .hs-form-required {
  padding-left: 0px;
}

.huform .hs-form-booleancheckbox span:not(.hs-form-required):before,
.huform .hs-form-checkbox span:before,
.huform .hs-form-radio-display span::before {
  content: '';
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="19" height="19" rx="0" fill="white"/><rect x="0.5" y="0.5" width="19" height="19" rx="0" stroke="%23B3B3BD"/></svg>');
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  top: 5px;
  transition: background-image 0.1s ease-in-out;
}

.huform .hs-form-booleancheckbox input[type='checkbox']:checked + span:before,
.huform .hs-form-checkbox input[type='checkbox']:checked + span:before {
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_236_9350)"><rect width="20" height="20" rx="0" fill="%23000000"/><rect width="10.1089" height="1.66667" rx="0.833333" transform="matrix(-0.707107 0.707107 0.707107 0.707107 14.7997 5.84872)" fill="white"/><rect x="8.8231" y="14.1683" width="6.58522" height="1.66667" rx="0.833333" transform="rotate(-135 8.8231 14.1683)" fill="white"/></g><defs><clipPath id="clip0_236_9350"><rect width="20" height="20" rx="0" fill="white"/></clipPath></defs></svg>');
}
.huform .hs-form-radio-display span::before {
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="9.5" fill="white"/><circle cx="10" cy="10" r="9.5" stroke="%23B3B3BD"/></svg>');
}
.huform .hs-form-radio-display input[type='radio']:checked + span:before {
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="9.5" fill="white"/><circle cx="10" cy="10" r="9.5" stroke="%23000"/><circle cx="10" cy="10" r="6.5" fill="%23000"/></svg>');
}

.huform input:focus,
.huform select:focus,
.huform textarea:focus {
  outline-color: #000;
  outline-offset: 0;
}

/* Service Form CSS ends */

font {
  background: transparent !important;
  box-shadow: none !important;
}

.ss {
  width: 84%;
  height: 72%;
  position: absolute;
  margin: 0 auto;
  opacity: 0.31;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-color: #b2b2b2;
  bottom: 0;
  right: 0;
  left: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(109deg, #e5de31 2%, #ffaf00 76%);
  border-radius: 8px;
  height: 6px;
}

button:disabled {
  background-color: #707070;
}

.line-wrap-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-wrap-2 {
  @apply line-clamp-2;
}

.whitespace-font-pre-line {
  white-space: pre-line;
}

.slide-shader {
  background-image: linear-gradient(to right, rgba(248, 248, 248, 0) 4%, #f6f6f6 88%);
}

.services-tab .tab-header {
  width: fit-content !important;
  flex: 1;
}

.services-tab .tab-header div:nth-child(2) {
  max-width: 100% !important;
}

/*Pricing cards styling*/
.planName-heading {
  background: #ebebeb;
  color: #000;
}

[data-theme='dark'] .planName-heading {
  background: rgb(149,149,149);
  color: #000;
}

.pricing-text {
  color: #000;
}

[data-theme='dark'] .pricing-text {
  color: #fff;
}

.pricing-card {
  background: #f5f5f5;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.12) 0px 2px 16px 0px;
  transform: translateY(0px) scale(1);
  transition: transform 0.3s ease;
}

[data-theme='dark'] .pricing-card {
  background: #000;
  box-shadow: rgb(192 192 192 / 45%) 0px 2px 4px 0px, rgb(192 192 192 / 45%) 0px 2px 16px 0px;
}

heading {
  font-size: 32px;
  font-weight: bold;
}

#blog-details-body img {
  width: 100%;
  height: 440px;
  object-fit: cover;
}

@media (max-width: 768px){
  #blog-details-body img {
    height: 172px;
  }

  heading {
    font-size: 24px;
  }
}

#contact-us-form-container > :first-child {
  margin-top: 0;
  padding: 0;
}

#contact-us-form-container #scheduler-container {
  height: 500px;
}

#contact-us-section-wrapper > div:last-of-type {
  padding-left: 0;
  padding-right: 0;
}

.carousel-dots {
  display: none;
  justify-content: center;
  padding: 10px 0;
}

.dot {
  height: 4px;
  width: 4px;
  margin: 0 5px;
  background-color: #000000; 
  border-radius: 20%;
  display: inline-block;
}

.dot.active {
  background-color: #F59723;
}

@media screen and (max-width: 767px) {
  .carousel-dots {
    display: flex;
  }
}

[data-theme='dark'] .dot {
  background-color: #fff;
}

[data-theme='dark'] .dot.active {
  background-color: #F59723;
}

[data-theme='dark'] .slider-nav {
  background-color: rgba(256, 256, 256, 0.14);
}

[data-theme='dark'] .slider-nav:disabled {
  background-color: rgba(256, 256, 256, 0.14);
}

[data-theme='dark'] .blog-bg{
  background: #000;
}

[data-theme='dark'] .mobile-pagination{
  background-color: #000;
}

[data-theme='dark'] .credibility-images{
  background-color: #fff;
}

[data-theme='dark'] .testimonial-footer{
  background-color: #333333;
}

[data-theme='dark'] .testimonial-border{
  border: 1px solid #fff;
}

[data-theme='dark'] .talk-to-expert-btn{
  background-color: #fff6e7;
  color: #000;
}

[data-theme='dark'] .contact-us-address{
  background-color: #000;
}

.mapAddressBorder{
  border: 1px solid #d8d8d8;
}

.mapAddressBorder:hover{
  border: 1px solid #f59723;
}

#contact-us-social-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}