

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --grey :#f9f9f9;
  --golden-yellow: #f59723;
  --primary-text:#000;
  --primary-white:#fff;
  --deep-yellow:#ffaf00;
  --secondary-grey:#f3f3f3;
}



/*Remove when starting development >>>*/

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #d0e, #91f);
  color: var(--primary-text);
  font-family: var(--font-jakarta);
  overflow-y: auto;
}

.gradient-text {
  background-image: linear-gradient(108deg, #e5de31 2%, #ffaf00 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .container {
  width: 150px;
  height: 150px;
  display: grid;
  overflow: hidden;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.item {
  background: white;
  border-radius: 100%;
} */

/*<<< Remove when starting development*/


/*Google translator layout*/


.skiptranslate{
  display: none !important;
}