.avatar_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.head {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 13px;
  top: 10px;
}

.body {
  width: 27px;
  height: 19px;
  position: absolute;
  bottom: 10px;
  top: 23px;
  left: 6px;
  border-radius: 0 0 20px 20px;
  rotate: 180deg;
}

.popup_container {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1000;
  width: 350px;
}

.popup_content {
  border-radius: 6px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border: 1px solid rgba(160 160 160 / 39%);
}

.title {
  padding-left: 10px;
}

.account_section {
  display: flex;
  align-items: center;
  padding-bottom: 26px;
  border-bottom: 1px solid rgba(147 147 147 / 26%);
  margin-top: 10px;
}

.icon {
  display: block;
  margin: 0 auto 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
}

.name {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 5px;
  width: 240px;
  height: 23px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 10px;
}

.email {
  font-size: 0.875rem;
  width: 240px;
  height: 23px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 10px;
}

.header {
  font-size: 0.875rem;
  text-align: left;
  color: #333;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
  border: none;
  background: none;
}

.option:not(:last-child) {
  border-bottom: 1px solid rgba(147 147 147 / 26%);
}

.user_details {
  text-align: left;
  margin-left: 10px;
}

.option {
  cursor: pointer;
  padding: 10px;
  font-size: 0.875rem;
  text-align: left;
  transition: background-color 0.3s ease;
  border: none;
  background: none;
  text-align: start;
}

.logout {
  color: #d9534f;
}

.logout:hover {
  color: #b52b27;
}

@media (max-width: 600px) {
  .popup_container {
    right: 5px;
    width: 90%;
  }
}

/* In your UserAvatar.module.css or a relevant CSS module */

.slideInRight {
  animation: slideInRight 0.5s forwards;
}

.slideOutLeft {
  animation: slideOutLeft 0.5s forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
